// +-----------------------------------------------------------+
//                       Main scss file
// +-----------------------------------------------------------+
@use "mixins-typography";
@use "config" as *;

.grid__layout {
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  width: 100%;
  max-width: 1440px;
}

.carousel {
  z-index: 1;
  grid-row: 1/2;

  &__track {
    display: flex;
    // overflow: hidden;
    width: 100%;
    transition: transform 0.5s ease;
    flex-direction: row;
    width: 100%;
  }

  &__text {
    // padding: 3.25rem 2rem;
    position: relative;
    max-width: 100vw;
    // overflow: hidden;

    &__container {
      overflow: hidden !important;
    }
  }

  .carousel__text__horizontal-conainer {
    display: flex;
    flex-direction: row;
    // gap: 4rem;
    align-items: flex-start;
    justify-content: flex-start;
    min-width: 100%;
    margin: 0;
    padding-top: 3.875rem;
    transition: transform 0.5s ease;
  }

  .carousel__text__vertical-container {
    min-width: 100%;
    padding: 0 2rem 0 2rem;
  }

  &__buttons {
    position: absolute;
    top: -3.5rem;
    right: 0;
    display: inline-flex;
    gap: 0;

    .carousel__button {
      width: 3.5rem;
      height: 3.5rem;
      background-color: $black;
      border: none;
      outline: none;
      box-shadow: none;
      display: inline-flex;
      align-items: center;
      justify-content: center;

      & svg {
        transform: scale(0.7);
      }

      &:hover {
        background-color: $dark-gray;
      }
    }
  }

  &__text__title {
    @include mixins-typography.typos(h1-g);
    padding-bottom: 1rem;
  }

  &__text__paragraph {
    @include mixins-typography.typos(p-g);
    @include mixins-typography.typos(p-m);
    padding-bottom: 1rem;
  }

  &__text__subtitle {
    display: inline-flex;
    align-items: center;
    @include mixins-typography.typos(h3-g);
    @include mixins-typography.typos(h3-m);
    width: 100%;
    padding: 0 2rem 4.5rem 2rem;

    .arrow {
      margin-left: 1.2rem;
    }

    &:hover,
    &:hover .arrow path {
      color: $gray;
      cursor: pointer;
      fill: $gray;
    }
  }
}

.carousel__window {
  overflow: hidden;
}

.carousel__picture {
  flex-shrink: 0;
  width: 100%;
}

.carousel__image {
  width: 100%;
  display: block;
  height: auto;
}

// +-----------------------------------------------------------+
//                       About Section
// +-----------------------------------------------------------+

.about {
  grid-row: 2;

  &-image-left {
    background-image: url("../images/tinified/image-about-dark.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100vw;
    min-height: 240px;
    height: auto;
  }

  &-image-right {
    background-image: url("../images/tinified/image-about-light.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100vw;
    min-height: 227px;
    margin-top: -15px;
  }

  &-content {
    padding: 3.375rem 2rem;
  }

  &-content h2 {
    @include mixins-typography.typos(h2-g);
    @include mixins-typography.typos(h2-m);
    padding-bottom: 1.45rem;
  }

  &-content p {
    @include mixins-typography.typos(p-g);
    @include mixins-typography.typos(p-m);
    word-break: normal;
    overflow-wrap: break-word;
    word-wrap: break-word;
    line-height: 1.38 !important;
  }
}

// +-----------------------------------------------------------+
//                          Medias Queries
// +-----------------------------------------------------------+

@media (min-width: 751px) {
  .carousel__content {
    display: grid;
    grid-template-columns: 55.555% 44.445%; /* Deux colonnes avec les proportions */
    grid-template-rows: 66.666vh;
    height: 66.666%;

    .carousel__window {
      grid-column: 1 / 2; /* Place dans la première colonne */
      grid-row: 1/2;
      width: 100%; /* Assure que ça occupe tout l'espace de la colonne */
      overflow: hidden; /* Cache le ruban */
    }

    .carousel__text_container {
      grid-column: 2 / 3; /* Place dans la deuxième colonne */
      grid-row: 1/2;
      width: 100%; /* Idem */
      display: flex; /* Pour aligner le contenu si nécessaire */
      align-items: center; /* Aligne verticalement le texte */
      justify-content: center; /* Aligne horizontalement si besoin */
      overflow: hidden;
    }

    .carousel__text__vertical-container {
      min-width: 100%;
      padding: 2.625rem 6.375rem 0 6.375rem;
    }
    .carousel__text__subtitle {
      padding: 2.625rem 6.375rem 0 6.375rem;
      @include mixins-typography.typos(h3-d);
    }
    .carousel__buttons {
      position: absolute;
      top: unset;
      bottom: 0;
      left: 0;
      right: unset;
      display: inline-flex;
      gap: 0;
    }
  }

  .carousel__content {
    display: grid;
    grid-template-columns: 55.555% 44.445%;
    grid-template-rows: 66.666vh;
    height: 66.666vh;
  }

  .about {
    display: grid;
    grid-template-columns: 29.1666vw 40.2777vw 30.5555vw;
    max-width: 100vw;
    height: 18.4722vh;

    .about-image-left {
      background-size: cover;
      width: 100%;
      height: auto;
      grid-column: 1/2;
    }

    .about-image-right {
      background-image: url("../images/tinified/image-about-light.jpg");
      background-size: cover;
      width: 100%;
      height: auto;
      margin-top: 0;
      grid-column: 3/4;
    }
  }
}
